:root {
  --blond: #fcf6b1ff;
  --celadon: #a9e5bbff;
  --lavender-blue: #c9c9eeff;
  --purple-navy: #474973ff;
  --granite-gray: #646165ff;
}

.App {
  text-align: center;
  background-color: var(--granite-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.App-wrapper {
  border-style: groove;
  border-radius: 1rem;

  padding: 1rem;
}

h1 {
  color: var(--lavender-blue);
  font-style: italic;
}

h2 {
  color: var(--celadon);
}

h3 {
  color: var(--blond);
}